/* General Setup */

* {
  box-sizing: border-box;
}

html,
body,
main,
.calc-wrapper {
  height: 100% !important;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  font-family: "Inter", sans-serif; /* Apple "like" font */
}

button {
  border-radius: 50%;
  width: 21vw;
  max-width: 100px;
  height: 21vw;
  max-height: 100px;
  text-align: center;
  border: none;
  font-size: 2rem;
  margin: 2vw 1.5vw;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media only screen and (max-width: 350px) {
  html {
    font-size: .7rem;
  }
}

.hidden {
  display: none;
}

/* Calculator */

.calc-wrapper {
  width: 100%;
}

/* Calculator Display */

.calc-display {
  color: #fff;
  font-size: 5rem;
  height: calc(5rem + 15vh);
  margin: 0 1.5vw;
  padding-top: 15vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: end;
  align-items: end;
}

@media only screen and (min-height: 800px) {
  .calc-display {
    padding-top: 28vh;
    height: calc(5rem + 28vh);
  }
}

/* Calculator keys wrapper */

.calc-keys {
  padding-top: 1vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
}

/* Topbar */

.topbar,
.numeric {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.topbar > button {
  background: #d4d4d2; /* Light gray */
}

/* Sidebar */

.sidebar {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: grid;
}

.sidebar > button {
  background: #ff9500; /* Orange */
  color: #fff;
}

/* Numeric keys */

.numeric > button {
  background: #505050; /* Dark Gray */
  color: #fff;
}

/* Zero button */

.zero {
  grid-column: 1 / span 2;
  width: 45vw !important;
  max-width: calc(200px + 3vw) !important;
  border-radius: 100px;
}
